#size-chart {
  width: 100%;
}

.btn {
  color: black;
  box-shadow: none;
  text-decoration: underline;
  text-align: start;
  padding: 0rem;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0;
}
