#size {
  height: 214px;
  width: 350px;
}

#background-image {
  background-image: url('./images/hero-banner-image.jpg');
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
  background-color: rgb(102 92 83 / 50%);
}

.jumbotron {
  height: 38rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

h1,
p {
  font-style: italic;
  color: honeydew;
}
