.color-text {
  color: black;
}

#text-style {
  text-align: center;
  padding-top: 0.5rem;
}
.cards-container {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

#divider-style {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #bf9000;
  margin-left: 3rem;
  margin-right: 3rem;
}
