.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 1rem;
  width: 50%;
  z-index: 1;
  margin-left: 25%;
}

.navbar-logo {
  height: 1.8rem;
}
@media(max-width: 576px){
  .logo-container{
    margin-left: 31%;
  }
}
