.main-footer{
    color:white;
    background-color:rgb(42, 42, 44);
    padding-top: 3em;
    position:relative;
    bottom: 0;
    width: 100%

}

.logo{
    height: 34px; 
}

.col{
    padding:1rem; 
    text-align: center;
    
}
.list-unstyled {
    font-size: 13px;
}

#divider-footer {
    border-top: 1px solid #6b6b69;
  }

.col-sm{
    text-align: center;
    font-size: 12px;
}



