.link-footer-style {
  color: white;
}

.main-footer {
  color: white;
  background-color: rgb(24, 24, 29);
  margin-top: 5em;

  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-logo-container {
  display: flex;
  justify-content: center;
}

.logo-footer {
  height: 34px;
}

.col {
  padding: 1rem;
  text-align: center;
}

.list-footer {
  font-size: 13px;
  list-style-type: none;
}

#divider-footer {
  border-top: 1px solid #b6b6b4;
  margin-bottom: 0rem;
  margin-top: -1rem;
}

.col-sm {
  text-align: center;
  font-size: 12px;
  color: white;
}
